# Node files
/node_modules

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Certora files
.certora_internal
/venv

.DS_Store
.env
.vscode
build/
dist/
deployments/
