# Project files
.env
/dist

# Node files
/node_modules

# Hardhat files
/artifacts
/build
/cache
/coverage
/coverage.json
/deployments
/typechain
/typechain-types

# Certora files
/.certora_internal
/venv

# Miscellaneous files
.DS_Store
/.vscode
